.accordionItem,
.location {
  width: 100%;
  color: var(--input-color);
  background: var(--input-backGround);
  border: var(--input-border);
  border-radius: var(--input-borderRadius);
  padding: var(--input-padding);
  font-size: var(--input-fontSize);
  outline: var(--input-outline);
  margin-top: var(--input-marginY);
  margin-bottom: var(--input-marginY);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordionItem:hover,
.location:hover {
  color: var(--input-colorHover);
  background: var(--input-backgroundHover);
}

.accordionItem:focus,
.location:focus {
  border: var(--input-borderColorFocus);
}

.accordionContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border: var(--input-border);
  border-top: none;

  padding: 0.5rem;
  border-bottom-right-radius: var(--input-borderRadius);
  border-bottom-left-radius: var(--input-borderRadius);
}

.accordionContentWrapper {
  overflow: hidden;

  margin-top: -0.5rem;
}

.accordionContentWrapper[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordionContentWrapper[data-state='closed'] {
  animation: slideUp 100ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.accordionDetails {
  box-shadow: var(--shadow-2);
  padding: 1rem 0.5rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundWhite);
  color: var(--text-color);
}
